[MASTER]
ignore=migrations,venv,.venv,__pycache__

[FORMAT]
max-line-length=100
indent-string='    '

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0901,R0913,W0212

[DESIGN]
max-args=8
max-attributes=15
max-bool-expr=5
max-branches=12
max-locals=20
