Django>=4.2,<5.0
openpyxl>=3.1.0
reportlab>=4.0.0

# Dev / linting
flake8>=7.0.0
flake8-bugbear>=24.0.0
black>=24.0.0
mypy>=1.8.0
django-stubs>=4.2.0
pre-commit>=3.6.0

sphinx>=7.0
sphinx-rtd-theme>=2.0
pydocstyle>=6.3
